	<div class="image" id="vertical">
		<a href="{{ @blog.url }}/2014/11/botanischer-garten/">
		    <div class="imgheader-text">
			    <h1>Botanischer Garten</h1>
			    <p>I finally went to see more than the greenhouse</p>
		    </div>
		    <img nopin="nopin" src="http://twotwenties.com/photos/2014/11/botanischer_garten/1024/botanischer_garten_01_1024.jpg" sizes="40vw" srcset="http://twotwenties.com/photos/2014/11/botanischer_garten/2048/botanischer_garten_02_2048.jpg 2048w, http://twotwenties.com/photos/2014/11/botanischer_garten/1024/botanischer_garten_02_1024.jpg 1024w, http://twotwenties.com/photos/2014/11/botanischer_garten/640/botanischer_garten_02_640.jpg 640w, http://twotwenties.com/photos/2014/11/botanischer_garten/320/botanischer_garten_02_320.jpg 320w" alt="Insect pavillion at BotMuc">
        </a>
	</div>
		
	<div id="hor-top" class="horizontal image">				
		<a href="{{ @blog.url }}/2015/01/winter-beach-sunset/">
		    <div class="imgheader-text">
				<h1>winter beach sunset</h1>
				<p>Sunset in Lisbon</p>
		    </div>
            <img nopin="nopin" src="http://twotwenties.com/photos/2015/01/winter_beach_sunset/1024/winter_beach_sunset_1_1024.jpg" sizes="60vw" srcset="http://twotwenties.com/photos/2015/01/winter_beach_sunset/2048/winter_beach_sunset_1_2048.jpg 2048w, http://twotwenties.com/photos/2015/01/winter_beach_sunset/1024/winter_beach_sunset_1_1024.jpg 1024w, http://twotwenties.com/photos/2015/01/winter_beach_sunset/640/winter_beach_sunset_1_640.jpg 640w, http://twotwenties.com/photos/2015/01/winter_beach_sunset/320/winter_beach_sunset_1_320.jpg 320w" alt="sunset at the beach, Lisbon">
        </a>
	</div>
		
	<div id="hor-bottom" class="horizontal image">
		<a href="{{ @blog.url }}/2015/01/trieste/">
		    <div class="imgheader-text">
				<h1>Trieste</h1>
				<p>Two rainy days in Trieste</p>
            </div>
            <img nopin="nopin" src="http://twotwenties.com/photos/2015/01/trieste/1024/trieste_04_1024.jpg" sizes="60vw" srcset="http://twotwenties.com/photos/2015/01/trieste/2048/trieste_04_2048.jpg 2048w, http://twotwenties.com/photos/2015/01/trieste/1024/trieste_04_1024.jpg 1024w, http://twotwenties.com/photos/2015/01/trieste/640/trieste_04_640.jpg 640w, http://twotwenties.com/photos/2015/01/trieste/320/trieste_04_320.jpg 320w" alt="Trieste">
        </a>
    </div>
