<div class="image" id="vertical">
    <!-- link to post-->
    <a href="">
        <details class="imgheader-text">
            <h1><!-- post title--></h1>
            <p><!-- description --></p>
        </details>
        
        <!-- I left this image as an example for the sizes and srcset attributes if you'd like to use them. I also don't reccomend having a "pin it" button on these -->
        <img nopin="nopin" src="http://twotwenties.com/photos/2014/11/botanischer_garten/1024/botanischer_garten_01_1024.jpg" sizes="40vw" srcset="http://twotwenties.com/photos/2014/11/botanischer_garten/2048/botanischer_garten_02_2048.jpg 2048w, http://twotwenties.com/photos/2014/11/botanischer_garten/1024/botanischer_garten_02_1024.jpg 1024w, http://twotwenties.com/photos/2014/11/botanischer_garten/640/botanischer_garten_02_640.jpg 640w, http://twotwenties.com/photos/2014/11/botanischer_garten/320/botanischer_garten_02_320.jpg 320w" alt="">
    </a>
</div>

<div id="hor-top" class="horizontal image">
    <!-- link to post-->
    <a href="">
        <details class="imgheader-text">
            <h1><!-- post title--></h1>
            <p><!-- description --></p>
        </details>
        
        <img nopin="nopin" src="" sizes="60vw" srcset="" alt="">
    </a>
</div>

<div id="hor-bottom" class="horizontal image">
    <!-- link to post-->
    <a href="">
        <details class="imgheader-text">
            <h1><!-- post title--></h1>
            <p><!-- description --></p>
        </details>
        
        <img nopin="nopin" src="" sizes="60vw" srcset="" alt="">
    </a>
</div>

<div class="arrow-down">
    <img src={{ asset 'img/arrow_down.png' }}>
</div>