{{!< default}}
{{#post}}

<article class="abt simple {{post_class}}">
    
    <header class="abt-header">
            <h2>About</h2>
    </header>

    <div class="abt-body">
            <img src="" class="center">
            
            <!-- Write about yourself here-->
    </div>

</article>

{{/post}}